meta(
  http-equiv='Content-Type',
  content='text/html; charset=utf-8'
)
meta(
  name='keywords',
  content='historic landmark,chicago historic landmark,historical landmark,chicago historical landmark'
)
meta(
  name='description',
  content='Chicago historic landmark - Help restore the Shrine of Christ the King, an historical landmark in Chicago, IL.'
)
meta(name='verify-v1', content='DfYrVDPQi+MYVt6aZ4/FXEHMSSnWjguEdXZKX+gq4aU=')
meta(name='author', content='SITE CREATED BY DONALD TAYLOR, III - taylorwebsites@gmail.com')
link(rel='shortcut icon', href='favicon.ico')
link(rel='stylesheet', type='text/css', href='css/main.css')
script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js')
script(src='jquery.lightbox-0.5.js')
script.
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-131347-8']);
  _gaq.push(['_trackPageview']);
  (function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();